@import url('reset.css');

body{
    background-color: black;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    width: 600px;
    margin: 24px auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #33A8DB;
    font-weight: bold;
}

p {
    color: white;
}

.banner-content{
    width: 510px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner{
    padding-top: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 169, 221, 0.3), rgba(0, 0, 0, 0.6)), url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
}

.banner .banner-content .logo {
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

button {
    margin-top: 10px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: #31A8DD;
    border-image: linear-gradient(rgba(59, 161, 205, 1), rgba(21, 114, 183, 1));
    border-image-slice: 10;
}

#course-content {
    width: 800px;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
}

.module {
    width: 530px;
    border: 1px solid #33A8DB;
    margin: 24px auto;
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(37, 37, 37, 1);
    box-shadow: inset 3px 3px 6px 2px #00000066;
}

span{
    color: #31A8DD;
}

#transform-world {
    border-top: 1px solid rgba(51, 168, 219, 1);
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    background-image: url(../images/woman-code.png);
    background-size: cover;
    height: 450px;
    background-attachment: fixed;
}

#transform-world p {
    font-size: 45px;
    font-weight: 900;
    text-transform: lowercase;
    width: 280px;
    text-shadow: 3px 2px #33A8DB;
    margin-top: 110px;
    margin-left: 130px;
}

#professional-challenges {
    padding: 70px 0;
    text-align: center;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
}

h2 + img {
    margin: 25px;
}

img + p {
    margin: 0 auto;
    width: 800px;
}

footer {
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(#33A8DB00, #33A8DB33);
}

footer p a {
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}